{% extends "index.html" %}
{% block content %}
	<h1>Lista de empresas registradas</h1>
	<!--ESTE LINK DE ABAJO DEBE MOSTRARSE SOLO AL USUARIO CUANDO TRABAJA EN UNA EMPRESA Y SOLO PUEDE EDITAR EL PERFIL DE LA EMPRESA A LA Q PERTENECE SIEMPRE Y CUANDO SEA EL ACCOUNT MANAGER-->
	<a href="{% url "enterpriseprofiles:new_enterprise" %}">registrar nueva empresa</a>
	<ul>
		{% for enterprise in object_list %}
			<li>
				<img src="{{ enterprise.profileImage.url }}">
				<h3><a href="{% url "enterpriseprofiles:enterprise_detail" enterprise.id %}">{{ enterprise.companyName }}</a></h3>
				<h2>{{ enterprise.descriptor }}</h2>

			</li>
		{% endfor %}
	</ul>
{% endblock %}