{% extends "index.html" %}

{% block page_title %}
	{{ enterpriseprofile.searchKeywords }}

{% endblock %}

{% block content %}
	<img src="{{ enterpriseprofile.profileImage.url }}">
	<h1>{{ enterpriseprofile.companyName }}</h1>
	<h2> {{ enterpriseprofile.descriptor }}</h2>
	<p> {{ enterpriseprofile.industry }} </p>
	<p> {{ enterpriseprofile.us }} </p>
	<p> {{ enterpriseprofile.legalId }} </p>
	<p> {{ enterpriseprofile.email }} </p>
	<p> {{ enterpriseprofile.web }} </p>
	<p> {{ enterpriseprofile.address }} </p>

{% endblock %}
